<?xml version='1.0' encoding='utf-8' ?>
<widget
  id="fr.musicociel.app"
  version="0.0.1"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>Musicociel</name>
    <description>Application to display and edit songs with lyrics and chords.</description>
    <author email="divde@musicociel.fr">DivDE</author>
    <content src="musicociel/index.html" />
    <hook type="after_prepare" src="cordova-build.js" />
    <icon src="src/ui/public/favicon512.png" />
    <platform name="android">
        <config-file parent="./application/activity/intent-filter" target="AndroidManifest.xml">
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </config-file>
        <config-file parent="./application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-feature android:name="android.software.leanback" android:required="false" />
            <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
        </config-file>
    </platform>
</widget>
